{% extends "index.html" %}
{% load i18n %}
{% load markup %}

{% block css %}

    .lecture p, #lecture_abstract {
    text-indent: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: left;
    max-width: 45em;
    }
    strong.lecture_author + p { text-indent: 0; }
    #lecture_author { margin-bottom: 2px;}
    #lecture_abstract { margin-bottom: 5px;text-indent: 0;}
    #lecture_time { margin-bottom: 1em;}
    #note {
    color: #444444;
    font-family: 'Lucida Grande','Trebuchet MS',Verdana,Helvetica,Arial,sans-serif;
    font-size: 11px;
    }

    div.program {background: #fff; display: block;}
    .cell_text1{margin-left: 10px; display:inline; }
    .cell_text2{margin-left: 10px; display:inline; }
    .cell_text3{margin-left: 30px; display:inline; }
    div.cell_part_hour {margin-left: 30px; display: inline;}
    div.cell_hour {display: inline; margin-top:10px;}
    div.cell_hour_1 {display: inline; margin-left:6px;}

{% endblock css %}

{% block content %}


    <h2>Program</h2>
    <br>
    <h3>Czwartek 28.02.2013</h3>
    <div>
        <div>20:00 - 21:30</div>
        <div>Obiadokolacja</div>
    </div>

    <br>
    <div style="margin-bottom:8px">
        <div>
            <div>21:30 - 21:40</div>
            <div>Oficjalne rozpoczęcie <strong>ZOSI 2013</strong></div>
        </div>
        <br>

        <div style="margin-bottom:8px">
            <div>
                <div>21:40 - 00:05</div>

                <div><strong>Sesja inauguracyjna</strong>, prowadząca: <strong>Dorota Suchocka</strong></div>
            </div>


            <div>
                <div>21:40 - 22:20</div>
                <div><strong>prof. Jerzy Marcinkowski</strong>, <i>Między Scyllą nudy a Charybdą dystrakcji</i></div>

            </div>
            <div>
                <div>22:25 - 23:05</div>
                <div><strong>Maciej Piróg</strong>, <i>Po co znać najprostszy język programowania na świecie? Żeby
                    dostać pracę!</i></div>
            </div>

            <div>
                <div>23:10 - 23:30</div>
                <div><strong>Marcin Włodarczak</strong>, <i>Wirtualny torcik</i></div>
            </div>

            <div>
                <div>23:35 - 00:05</div>
                <div><strong>Kamil Skalski</strong>, <i>Jak działa wyszukiwarka</i></div>
            </div>
        </div>

    </div>
    <br><br>
    <h3>Piątek</h3>
    <div>
        <div>8:00 - 9:30</div>
        <div>Śniadanie</div>
    </div>
    <br>

    <div style="margin-bottom:8px">
    <div>
        <div>13:30 - 16:00</div>
        <div><strong>Aleksander Szymanek, Jakub Stępniewicz</strong>, Warsztaty: <i>Bądź jak Chuck Norris. Czyli jak
            modyfikować stan pamięci gier</i></div>
    </div>
    </div>
    <br>

    <div style="margin-bottom:8px">
        <div>
            <div>16:00 - 18:00</div>
            <div><strong>Sesja 1</strong>, prowadzący: <strong>Aleksander Szymanek</strong></div>

        </div>
        <div>
            <div>16:00 - 16:25</div>
            <div><strong>Michał Stempkowski</strong>, <i>Edward Nożycoręki czy twór doktora Frankensteina?</i></div>
        </div>
        <div>
            <div>16:30 - 17:00</div>
            <div><strong>Łukasz Pietrucha</strong>, <i>Testowanie Zwinne</i></div>
        </div>
        <div>
            <div>17:05 - 17:25</div>
            <div><strong>Radosław Warzocha</strong>, <i>Czy te zbiory mogą kłamać? czyli filtry Blooma i ich
                zasosowania</i></div>
        </div>
        <div>
            <div>17:30 - 18:00</div>
            <div><strong>Maciek Kotowicz</strong>, <i>Z wężem wśród robaków</i></div>
        </div>
    </div>
    <br>

    <div style="margin-bottom:8px">
    <div>
        <div>17:30 - 19:00</div>
        <div>Obiadokolacja</div>
    </div>
    </div>
    <br>

    <div style="margin-bottom:8px">
        <div>
            <div>19:00 - 21:05</div>
            <div><strong>Sesja 2</strong>, prowadzący: <strong>KADRA</strong></div>

        </div>
        <div>
            <div>19:00 - 19:30</div>
            <div><strong>Krzysiek Kercz, Darek Stokłosa</strong>, <a href="http://axit.pl/" target="_blank">AXIT</a>,
                <i>Język schematów blokowych</i></div>
        </div>
        <div>
            <div>19:35 - 20:05</div>
            <div><strong>Michał Michaluk</strong>, <a href="http://pl.capgemini.com/" target="_blank">Capgemini</a>, <i>10
                przykazań clean codera-a</i></div>
        </div>
        <div>
            <div>20:10 - 20:40</div>
            <div><strong>Piotr Mężyk, Adam Szeptycki</strong>, <a href="http://nomtek.com/" target="_blank">Nomtek</a>,
                <i>O pomarańczowych krasnalach, białej kartce papieru i tajemniczej szafie</i></div>

        </div>
        <div>
            <div>20:45 - 21:05</div>
            <div><strong>Jakub Michaliszyn</strong>, <i>Studia trzeciego stopnia z jedną niewiadomą</i></div>

        </div>
    </div>
    <br>
    <div style="margin-bottom:8px">
    <div>
        <div>21:30 - 22:55</div>

        <div><strong>Sesja 3A</strong>, prowadzący: <strong>Maciek Piróg</strong></div>
    </div>
    <div>
        <div>21:30 - 21:55</div>
        <div><strong>Filip Sieczkowski</strong>, <i>Call by push-value: dualność w działaniu</i></div>

    </div>
    <div>
        <div>22:00 - 22:30</div>
        <div><strong>Hans de Nivelle</strong>, <i>Logic with Partial Functions</i></div>
    </div>
    <div>
        <div>22:35 - 22:55</div>

        <div><strong>Jakub Kowalski</strong>, <i>Nie graj w gry - naucz swoje programy robić to za Ciebie</i></div>
    </div>
    </div>

    <div style="margin-bottom:8px">
        <div>
            <div>21:30 - 22:20</div>
            <div><strong>Sesja 3B</strong>, prowadzący: <strong>Jakub Stępniewicz</strong></div>
        </div>

        <div>
            <div>21:30 - 22:00</div>
            <div><strong>Tomasz Piasecki</strong>, <i>Informatyk i językoznawca w jednym łóżku. Wordnet, korpusy i inne
                narzędzia językoznawcze w Sieci</i></div>
        </div>
        <div>
            <div>22:05 - 22:20</div>

            <div><strong>Kryspina Konopko</strong>, <i>Nie tylko jogurt jest malinowy. Międzypłciowy konflikt
                postrzegania kolorów.</i></div>
        </div>


    </div>
    <br>
    <div style="margin-bottom:8px">
    <div>
        <div>23:10 - 00:15</div>
        <div><strong>Sesja 4A</strong>, prowadzący: <strong>Jasiek Marcinkowski</strong></div>
    </div>
    <div>
        <div>23:10 - 23:35</div>

        <div><strong>Paweł Hałdrzyński</strong>, <i>(Nie)bezpieczeństwo serwisów społecznościowych</i></div>
    </div>
    <div>
        <div>23:40 - 23:55</div>

        <div><strong>Krzysztof Nowicki</strong>, <i>Ciąg Fibonacciego a zawrtość twojego talerza</i></div>
    </div>
    <div>
        <div>00:00 - 00:15</div>

        <div><strong>Aleksander Szymanek</strong>, <i>Jak WEP został złamany</i></div>
    </div>
    </div>

    <div style="margin-bottom:8px">
        <div>
            <div>22:25 - 00:15</div>
            <div><strong>Sesja 4B</strong>, prowadząca: <strong>???</strong></div>
        </div>
        <div>
            <div>22:25 - 22:30</div>
            <div><strong>Maciej Kotowicz</strong>, <i>Hackerspace Wrocław</i></div>

        </div>
        <div>
            <div>22:40 - 23:25</div>
            <div><strong>Krzysztof Sakwerda</strong>, <i>I ty możesz wydrukować gwizdek...</i></div>
        </div>
        <div>
            <div>23:30 - ...</div>
            <div><strong>Adam Działak</strong>, <i>Rok pomiędzy technologią a sztuką</i></div>
        </div>
    </div>

    <br><br>
    <h3>Sobota</h3>
    <div>
    <div>
        <div>8:00 - 9:30</div>
        <div>Śniadanie</div>
    </div>
    </div>
    <br>

    <div style="margin-bottom:8px">
    <div>
        <div>13:00 - 15:30</div>
        <div><strong>Roman Kierzkowski</strong>, Warsztaty: <i>REST API dla aplikacji mobilnych</i></div>
    </div>
    </div>
    <br>

    <div style="margin-bottom:8px">
        <div>
            <div>16:00 - 18:00</div>
            <div><strong>Sesja 5</strong>, prowadząca: <strong>Kamila Tatarynowicz</strong></div>

        </div>
        <div>
            <div>16:00 - 16:25</div>
            <div><strong>Patryk Kajdas</strong>, <i>Cos inaczej</i></div>
        </div>
        <div>
            <div>16:30 - 16:50</div>
            <div><strong>Mateusz Bajorski</strong>, <i>CoffeeDesktop</i></div>
        </div>
        <div>
            <div>16:55 - 17:25</div>
            <div><strong>Kacper Gorski</strong>, <i>A może własny biznes?</i></div>
        </div>
        <div>
            <div>17:30 - 18:00</div>
            <div><strong>Maciek Jabłoński</strong>, <i>Tam i z powrotem</i></div>
        </div>
    </div>
    <br>

    <div style="margin-bottom:8px">
    <div>
        <div>17:30 - 19:00</div>
        <div>Obiadokolacja</div>
    </div>
    </div>
    <br>


    <div style="margin-bottom:8px">
        <div>
            <div>19:00 - 21:05</div>
            <div><strong>Sesja 6</strong>, prowadzący: <strong>KADRA</strong></div>

        </div>
        <div>
            <div>19:00 - 19:20</div>
            <div><strong>Wiktor Janas</strong>, <a href="http://tensquaregames.com/" target="_blank">Ten Square
                Games</a>, <i>W górach jest diagram Voronoia</i></div>
        </div>
        <div>
            <div>19:25 - 19:55</div>
            <div><strong>Daniel Dobrijałowski</strong>, <i>O routerach słów kilka</i></div>
        </div>
        <div>
            <div>20:00 - 20:30</div>
            <div><strong>Miëtek Bak</strong>, <i>Podstawy Podstawy, czyli Yesod od podstaw</i></div>

        </div>
        <div>
            <div>20:35 - 21:05</div>
            <div><strong>Janusz Dziemidowicz</strong>, <i>Przestępstwa i bestie</i></div>

        </div>
    </div>
    <br>
    <div style="margin-bottom:8px">
    <div>
        <div>21:30 - 22:55</div>

        <div><strong>Sesja 7A</strong>, prowadzący: <strong>Filip Sieczkowski</strong></div>
    </div>
    <div>
        <div>21:30 - 22:00</div>
        <div><strong>Patryk Obara</strong>, <i>JungleType, czyli króta pogadanka o webfontach</i></div>

    </div>
    <div>
        <div>22:05 - 22:35</div>
        <div><strong>Dariusz Jackowski</strong>, <i>NIME - New interfaces for musical expression</i></div>
    </div>
    <div>
        <div>22:40 - 22:55</div>

        <div><strong>Kamila Tatarynowicz</strong>, <i>Robot BIMBO</i></div>
    </div>
    </div>

    <div style="margin-bottom:8px">
        <div>
            <div>21:30 - 22:45</div>
            <div><strong>Sesja 7B</strong>, prowadząca: <strong>Lucyna Frank</strong></div>
        </div>

        <div>
            <div>21:30 - 21:45</div>
            <div><strong>Kinga Mielcarska</strong>, <i>Social brain in social network</i></div>
        </div>
        <div>
            <div>21:50 - 22:10</div>

            <div><strong>Linda Smug</strong>, <i>Jedz z głową, czyli fakty i mity dotyczące żywności</i></div>
        </div>
        <div>
            <div>22:15 - 22:45</div>

            <div><strong>Anna Kapuścińska</strong>, <i>Opowieść o lataniu w kosmos</i></div>
        </div>
    </div>
    <br>
    <div style="margin-bottom:8px">
    <div>
        <div>23:10 - 00:15</div>
        <div><strong>Sesja 8A</strong>, prowadzący: <strong>Krzysztof Nowicki</strong></div>
    </div>
    <div>
        <div>23:10 - 23:35</div>

        <div><strong>Jakub Stępniewicz</strong>, <i>Panie, ale gdzie ja jestem? Czyli smaczki GPS</i></div>
    </div>
    <div>
        <div>23:50 - 00:15</div>

        <div><strong>Tomasz Kominiarczuk</strong>, <i>Niecodzienna kolejka priorytetowa = sukces w działaniu algorytmu
            Dijkstry</i></div>
    </div>
    </div>

    <div style="margin-bottom:8px">
        <div>
            <div>22:25 - 00:00</div>
            <div><strong>Sesja 8B</strong>, prowadzący: <strong>Dariusz Jackowski</strong></div>
        </div>
        <div>
            <div>23:00 - 23:20</div>
            <div><strong>Justyna Cisło</strong>, <i>Jak pije się w Rosji?</i></div>

        </div>
        <div>
            <div>23:25 - 00:00</div>
            <div><strong>Paweł Nowoświat</strong>, <i>E-sport</i></div>
        </div>
    </div>

    <br><br>
    <h3>Niedziela</h3>
    <div>
        <div>
            <div>8:00-9:30</div>
            <div>Śniadanie</div>

        </div>
        <div>
            <div>12:30</div>
            <div>Wyjazd z ośrodka</div>
        </div>
        <div>
            <div>16:00</div>

            <div>Powrót do Wrocławia</div>
        </div>
    </div>
    <br><br><br><br><br><br>
{% endblock content %}
