{% extends "index.html" %}
{% load i18n %}
{% load markup %}

{% block css %}

    .lecture p, #lecture_abstract {
    text-indent: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: left;
    max-width: 45em;
    }
    strong.lecture_author + p { text-indent: 0; }
    #lecture_author { margin-bottom: 2px;}
    #lecture_abstract { margin-bottom: 5px;text-indent: 0;}
    #lecture_time { margin-bottom: 1em;}
    #note {
    color: #444444;
    font-family: 'Lucida Grande','Trebuchet MS',Verdana,Helvetica,Arial,sans-serif;
    font-size: 11px;
    }

    div.program {background: #fff; display: block;}
    .cell_text1{margin-left: 10px; display:inline; }
    .cell_text2{margin-left: 10px; display:inline; }
    .cell_text3{margin-left: 30px; display:inline; }
    div.cell_part_hour {margin-left: 30px; display: inline;}
    div.cell_hour {display: inline; margin-top:10px;}
    div.cell_hour_1 {display: inline; margin-left:6px;}

{% endblock css %}

{% block content %}

<h3>27.02.2014 r. (Czwartek)</h3>
<div>
	<div>20:00 – 21:30</div><div>Obiadokolacja</div>
</div>
<br>
<div style="margin-bottom:8px">
        <div><div>21:30 – 21:40</div><div>Oficjalne rozpoczęcie <strong>ZOSI 2014</strong></div></div>
	<br>
	<div><div>21:40 – 22:10</div><div><strong>Maciej Piróg</strong>, <i>W (ko)indukcyjne (ko)ło, Macieju</i></div></div>
	<div><div>22:15 – 22:35</div><div><strong>Janusz Dziemidowicz</strong>, <i>Skąd się biorą bitcoiny?</i></div></div>
	<div><div>22:40 - 23:10</div><div><strong>Maciej Kotowicz</strong>, <i>Łoboże kradną mi pieniądze</i></div></div>
	<div><div>23:15 – 00:00</div><div><strong>Hans de Nivelle</strong>, <i>Richard Wagner</i></div></div>
</div>
<br><br>
<h3>28.02.2014 r. (Piątek)</h3>
<div>
	<div><div>07:30 – 09:30</div><div>Śniadanie</div></div>
</div>
<br>
<div style="margin-bottom:8px">
	<div><div>16:00 – 16:20</div><div><strong>Linda Smug</strong>, <i>Praktyczna strona edukacji</i></div></div>
	<div><div>16:25 – 16:40</div><div><strong>Aleksander Szymanek</strong>, <i>Projekty zespołowe w warunkach uniwersyteckich...</i></div></div>
	<div><div>16:45 – 17:00</div><div><strong>Kryspina Konopko</strong>, <i>Upiór pod klawiaturą. Demonologia w grach RPG.</i></div></div>
	<div><div>17:05 - 17:35</div><div><strong>Tomasz Piasecki</strong>, <i>Mam lagi w kryształowej kuli, czyli ezoteryka kontra rzeczywistość nowych technologii</i></div></div>
	<div><div>17:40 – 17:55</div><div><strong>Łukasz Dobrowolski</strong>, <i>Efekt fotoelektryczny czyli jak działają aparaty cyfrowe.</i></div></div>


<div style="margin-bottom:8px">
	<div><div>17:30 – 19:00</div><div>Obiadokolacja</div></div>
</div>

<div style="margin-bottom:8px">
	<div><div>19:00 – 20:30</div><div><strong>(Capgemini) Jarosław Ratajski</strong>, <i>HTML5 + CSS3. Co powinieneś już dawno o technologiach webowych wiedzieć, a o czym najprawdopodobniej nie miałeś pojęcia</i></div></div>
<br>
    <div><div>20:45 - 21:15</div><div><strong>Kacper Górski</strong>, <i>Nie mam czasu! Muszę otagować fszystkich na fejsbuku!</i></div></div>
    <div><div>21:20 – 21:35</div><div><strong>Maciej Jabłoński</strong>, <i>Zapisy nie działają!</i></div></div>
    <div><div>21:40 - 21:55</div><div><strong>Anna Piekarska</strong>, <i>Fakty I mity o komputerze kwantowym</i></div></div>
    <br>
</div>
<div style="margin-bottom:8px">
    <div><div>22:10 - 22:40</div><div><strong>Filip Chudy</strong>, <i>Jak kazać układom scalonym scalać</i></div></div>
    <div><div>22:45 - 23:00</div><div><strong>Wiktor Mociun</strong>, <i>LinuX Containers i Chef</i></div></div>
    <div><div>23:05 - 23:20</div><div><strong>Mateusz Bajorski</strong>, <i>Zerowakonfiguracja - poznaj swoich sąsiadów</i></div></div>
    <div><div>23:25 – 00:00</div><div><strong>Adam “Nitro” De.</strong>, <i>Grafika komputerowa dla mas, nie dla klas!</i></div></div>
</div>
<br><br>
<h3>01.03.2014 r. (Sobota)</h3>
<div>
	<div><div>07:30 – 09:30</div><div>Śniadanie</div></div>
</div>
<br>
<div style="margin-bottom:8px">
    <div><div>16:00 -17:00</div><div><strong>(Neurosoft) Cezary Dołęga</strong>, <i>Homo Cyberneticus -- czyli dokąd zmierza sztuczna inteligencja</i></div></div>
    <div><div>17:15 - 17:45</div><div><strong>Michał Ryszard Balicki</strong>, <i>Arimaa – rozrywka dla ludzi, wyzwanie dla komputerów</i></div></div>
	<div><div>17:50 - 18:05</div><div><strong>Kinga Mielcarska</strong>, <i>Do you hear what I hear? Ultrasound detectors in bat research</i></div></div>
</div>
<div style="margin-bottom:8px">
	<div><div>17:30 - 19:00</div><div>Obiadokolacja</div></div>
</div>
<div style="margin-bottom:8px">
	<div><div>19:00 - 19:20</div><div><strong>Jakub Michaliszyn</strong>, <i>Konstruktorzy do świń!</i></div></div>
	<div><div>19:25 - 19:45</div><div><strong>Björn Pelzer</strong>, <i>Towards Cognitive Automated Reasoning</i></div></div>
	<div><div>19:50 - 20:20</div><div><strong>Arkadiusz Flinik</strong>, <i>ReactJS</i></div></div>
	<br>
	<div><div>20:35 - 21:05</div><div><strong>Paweł Hałdrzyński</strong>, <i>OMG!!!!11 web-pwned!</i></div></div>
	<div><div>21:10 - 21:40</div><div><strong>Jakub Stępniewicz</strong>, <i>Co tak brumi?</i></div></div>
	<div><div>21:45 - 22:15</div><div><strong>Krzysztof Nowicki</strong>, <i>Krótka historia Javy</i></div></div>
	<br>
	<div><div>22:30 - 23:00</div><div><strong>Anna Stożek</strong>, <i>Uran od A jak a-bomb, do S jak sztuka.</i></div></div>
	<div><div>23:05 - 23:35</div><div><strong>Dariusz Jackowski</strong>, <i>Między techniką, nauką i sztuką, czyli co robi informatyk w państwowej instytucji kultury</i></div></div>
</div>
<br>
<br>
<h3>02.03.2014 r. (Niedziela)</h3>
<div>
<div><div>07:30 – 09:30</div><div>Śniadanie</div></div>
<div><div>12:30</div><div>Wyjazd z ośrodka</div></div>
</div>
<br><br><br><br><br><br><br><br>
<br>
</div>
{% endblock content %}
